VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FUNCTIONS_REGION=asia-northeast1

VITE_MINAMIGAOKA_AUTH_EMAIL_DOMAIN=minamigaoka.windoms.club
VITE_MINAMIGAOKA_DEFAULT_ROLE=parent
VITE_MINAMIGAOKA_ADMIN_LOGIN_IDS=admin
VITE_MINAMIGAOKA_LOGIN_USER_MAP=admin:g01,parent01:g02,parent02:g04
